$primary-color-dark: #f50057;
$white: #ffffff;

$primary-font: 'Roboto', sans-serif;

$shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);

/* OVERRIDES FOUNDATIONS BUTTON STYLES */
*
{
	font-family: $primary-font;
}

button
{
	background: none;
	border: .2em solid $white;
	color: #333;
	font-weight: bold;
	transition: color 100ms ease-in, border 100ms ease-in, box-shadow 100ms ease-in;
}

button:hover, button:focus
{
	border: .2em solid $primary-color-dark;
	color: $primary-color-dark;
	background: none;
	box-shadow: $shadow;
	transition: color 200ms ease-in, border 200ms ease-in, box-shadow 200ms ease-in;
}


header
{
	padding-top:    .25em;
	padding-bottom: .25em;
	background-color: $primary-color-dark;
	color: $white;
	box-shadow: $shadow;
	


	.app-header-title
	{		
		font-weight: bold;
	}

	.rotate
	{
		-ms-transform: rotate(45deg); /* IE 9 */
		-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		transform: rotate(45deg);
	}
}

main
{
	.collapsed > *
	{
		border-bottom: 1px solid #ccc;
	}

	.create-task-interface
	{
		padding-top: 1.25em;
		border-bottom: 1px solid #eee;
		box-shadow: $shadow;

		label
		{
			font-weight: bold;
		}

		input, select
		{
			box-shadow: none;
			border: none;
			border-bottom: 2px solid #eee;
			box-shadow: none;
			background: none;
			outline: 0;
		}

		input:focus, input:active, select:focus, select:active
		{
			box-shadow: none;
			border: none;
			border-bottom: 2px solid $primary-color-dark;
			background: none;
			box-shadow: $shadow;
			outline: 0;
		}

		button
		{
			margin-left: .25em;
		}

		.add-task-button
		{
			color: $primary-color-dark;
		}
	}

	.task-list
	{
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		padding-top: .25em;


		li
		{
			border-bottom:  1px solid #ccc;
			padding-top:    .75em;
			padding-bottom: .5em;
			padding-left:   1em;
			margin-left: 0;
			box-shadow: $shadow;
		}

		.task-name
		{
			font-weight: bold;
			color: $primary-color-dark;
		}
	}
}